<div>

  <form #login="ngForm">
    <input type="text" name="myfilter" #filterRef="ngModel" [(ngModel)]="filter">
    <div>
      <input #usernameRef="ngModel" type="text" maxlength="100" minlength="10" required pattern="[0-9a-z]+" name="username" [ngModel]="username">
      <!-- {{login.controls?.username?.errors|json}}    -->
      <span *ngIf="usernameRef.touched && usernameRef.errors">
        <span *ngIf="usernameRef?.errors?.pattern">Only numeric and lower case string allowed</span>
        <span *ngIf="usernameRef?.errors?.minlength">Minimum 10 chars</span>
        <span *ngIf="usernameRef?.errors?.required">Username required</span>
      </span>


    </div>
    <div>
      <input #pwd="ngModel" type="password" required name="password" ngModel>
      <span *ngIf="pwd.touched && pwd['errors']?.required">Password is required</span>
    </div>
    <button [disabled]="login.valid" (click)="doLogin(login)">Login</button>
  </form>


  <div>Current username: {{ username }}</div>
  <div>Current Filter: {{filter}}</div>

  Valid: {{login.valid}} Invalid: {{ login.invalid }}

  <pre>
       {{ login.value | json }}
   </pre>
</div>
