<h3>New Course</h3>
<div class="container card">
  <form [formGroup]="form">
    <div class="form-group">
      <label>Course Name</label>
      <input formControlName="course_name" size="30" type="text" class="form-control">
     <app-field-errors label="Course Name" [control]="form.get('course_name')"></app-field-errors>
     
  </div> 
    
    <div class="form-group">
      <label>Duration</label>
      <input formControlName="duration" size="30" type="text" class="form-control">
      <app-field-errors label="Course Duration" [control]="form.get('duration')"></app-field-errors>
      
       </div>   
       
  </form>
  <div>
    <button (click)="save()">Save</button>
    <button (click)="form.reset() ">Reset</button>
    <button >Create Course</button>
    
   </div>
</div>

<div class="container card">
  <table class="table">
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course._id}}</td>
            <td>{{course.course_name}}</td>
            <td>{{course.duration}}</td>
          
        </tr>
    </tbody>
</table>
</div>



<!-- Valid : {{form.valid}} -->


<!-- <pre>
  {{form.value|json}}
</pre> -->



